*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}
.quiz-container {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}
h1 {
    text-align: center;
    color: white;
}
.question {
    margin-bottom: 20px;
}
.question h3 {
    margin: 0 0 10px;
    color: #555;
}
.options label {
    display: block;
    background: #e9e9e9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: default;
    transition: background 0.3s;
}
.options input {
    display: none;
}
.correct {
    background-color: lightgreen !important;
}
.incorrect {
    background-color: lightcoral !important;
}

#final-score > h2{
    margin-top: 20px;
    text-align: center;
    font-size: 2.2em;
    color: greenyellow;
}

#final-score > p{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.backToHome {
    text-align: center;
    color: #333;
    display: block;
    background: #e9e9e9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}
.backToHome:hover {
    background: #d9d9d9;
}

.question > h3 {
    color: white;
}